pg_dump : pg_dump: executing SELECT pg_catalog.set_config('search_pa
th', '', false);
At line:1 char:172
+ ... ackupFile"; pg_dump "postgresql://neondb_owner:npg_dNQpD2fBgM4
Z@ep-sq ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~
    + CategoryInfo          : NotSpecified: (pg_dump: execut...h',  
   '', false);:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
pg_dump: last built-in OID is 16383
pg_dump: reading extensions
pg_dump: identifying extension members
pg_dump: reading schemas
pg_dump: reading user-defined tables
pg_dump: reading user-defined functions
pg_dump: reading user-defined types
pg_dump: reading procedural languages
pg_dump: reading user-defined aggregate functions
pg_dump: reading user-defined operators
pg_dump: reading user-defined access methods
pg_dump: reading user-defined operator classes
pg_dump: reading user-defined operator families
pg_dump: reading user-defined text search parsers
pg_dump: reading user-defined text search templates
pg_dump: reading user-defined text search dictionaries
pg_dump: reading user-defined text search configurations
pg_dump: reading user-defined foreign-data wrappers
pg_dump: reading user-defined foreign servers
pg_dump: reading default privileges
pg_dump: reading user-defined collations
pg_dump: reading user-defined conversions
pg_dump: reading type casts
pg_dump: reading transforms
pg_dump: reading table inheritance information
pg_dump: reading event triggers
pg_dump: finding extension tables
pg_dump: finding inheritance relationships
pg_dump: reading column info for interesting tables
pg_dump: finding table default expressions
pg_dump: flagging inherited columns in subtables
pg_dump: reading partitioning data
pg_dump: reading indexes
pg_dump: flagging indexes in partitioned tables
pg_dump: reading extended statistics
pg_dump: reading constraints
pg_dump: reading triggers
pg_dump: reading rewrite rules
pg_dump: reading policies
pg_dump: reading row-level security policies
pg_dump: reading publications
pg_dump: reading publication membership of tables
pg_dump: reading publication membership of schemas
pg_dump: reading subscriptions
pg_dump: reading subscription membership of tables
pg_dump: reading large objects
pg_dump: reading dependency data
pg_dump: saving encoding = UTF8
pg_dump: saving "standard_conforming_strings = on"
pg_dump: saving "search_path = "
pg_dump: creating SCHEMA "neon_auth"
pg_dump: creating TYPE "public.BusinessType"
pg_dump: creating TYPE "public.CustomerTier"
pg_dump: creating TYPE "public.DesignStatus"
pg_dump: creating TYPE "public.LoyaltyRedemptionStatus"
pg_dump: creating TYPE "public.LoyaltyTransactionType"
pg_dump: creating TYPE "public.NotificationType"
pg_dump: creating TYPE "public.OrderStatus"
pg_dump: creating TYPE "public.PaymentMethod"
pg_dump: creating TYPE "public.PaymentStatus"
pg_dump: creating TYPE "public.ProductType"
pg_dump: creating TYPE "public.TrackingStatus"
--
-- PostgreSQL database dump
--

\restrict gheZ2wg1xZeAJDSbCMtdCWNvqM6x0MkAWheszOn6ehZdthJFU1SRUXSjncJow18

pg_dump: creating TYPE "public.UserRole"
-- Dumped from database version 17.10 (322a063)
-- Dumped by pg_dump version 18.1

-- Started on 2026-05-26 17:52:59

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 6 (class 2615 OID 16514)
-- Name: neon_auth; Type: SCHEMA; Schema: -; Owner: neon_auth
--

CREATE SCHEMA neon_auth;


ALTER SCHEMA neon_auth OWNER TO neon_auth;

--
-- TOC entry 918 (class 1247 OID 24608)
-- Name: BusinessType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."BusinessType" AS ENUM (
    'FASHION_RETAIL',
    'SABLON_SERVICE'
);


ALTER TYPE public."BusinessType" OWNER TO neondb_owner;

--
-- TOC entry 915 (class 1247 OID 24598)
-- Name: CustomerTier; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."CustomerTier" AS ENUM (
    'BRONZE',
    'SILVER',
    'GOLD',
    'PLATINUM'
);


ALTER TYPE public."CustomerTier" OWNER TO neondb_owner;

--
pg_dump: creating TABLE "neon_auth.account"
-- TOC entry 933 (class 1247 OID 24658)
-- Name: DesignStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."DesignStatus" AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'UNDER_REVIEW',
    'REVISION_REQUESTED',
    'APPROVED',
    'REJECTED',
    'IN_PRODUCTION',
    'COMPLETED'
);


ALTER TYPE public."DesignStatus" OWNER TO neondb_owner;

--
-- TOC entry 942 (class 1247 OID 24696)
-- Name: LoyaltyRedemptionStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."LoyaltyRedemptionStatus" AS ENUM (
    'COMPLETED',
    'EXPIRED',
    'CANCELLED'
);


ALTER TYPE public."LoyaltyRedemptionStatus" OWNER TO neondb_owner;

--
-- TOC entry 939 (class 1247 OID 24688)
-- Name: LoyaltyTransactionType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."LoyaltyTransactionType" AS ENUM (
    'EARNED',
    'REDEEMED',
    'ADJUSTED'
);


ALTER TYPE public."LoyaltyTransactionType" OWNER TO neondb_owner;

--
-- TOC entry 945 (class 1247 OID 24704)
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."NotificationType" AS ENUM (
    'ORDER_CONFIRMED',
    'PAYMENT_RECEIVED',
    'PAYMENT_FAILED',
    'DESIGN_FEEDBACK',
    'DESIGN_APPROVED',
    'ORDER_READY',
    'DELIVERY_UPDATE',
    'PROMOTION',
    'LOYALTY_POINTS_EARNED',
    'TIER_UPGRADED'
);


ALTER TYPE public."NotificationType" OWNER TO neondb_owner;

--
-- TOC entry 924 (class 1247 OID 24622)
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'CONFIRMED',
    'PROCESSING',
    'READY_FOR_DELIVERY',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED',
    'FAILED'
);


ALTER TYPE public."OrderStatus" OWNER TO neondb_owner;

--
-- TOC entry 927 (class 1247 OID 24640)
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: neondb_owner
--
pg_dump: creating TABLE "neon_auth.invitation"
pg_dump: creating TABLE "neon_auth.jwks"
pg_dump: creating TABLE "neon_auth.member"
pg_dump: creating TABLE "neon_auth.organization"
pg_dump: creating TABLE "neon_auth.project_config"
pg_dump: creating TABLE "neon_auth.session"

CREATE TYPE public."PaymentMethod" AS ENUM (
    'QRIS',
    'BANK_TRANSFER',
    'COD'
);


ALTER TYPE public."PaymentMethod" OWNER TO neondb_owner;

--
-- TOC entry 930 (class 1247 OID 24648)
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'COMPLETED',
    'FAILED',
    'EXPIRED'
);


ALTER TYPE public."PaymentStatus" OWNER TO neondb_owner;

--
-- TOC entry 921 (class 1247 OID 24614)
-- Name: ProductType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ProductType" AS ENUM (
    'KAOS',
    'ATRIBUT',
    'SABLON_TEMPLATE'
);


ALTER TYPE public."ProductType" OWNER TO neondb_owner;

--
-- TOC entry 936 (class 1247 OID 24676)
-- Name: TrackingStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."TrackingStatus" AS ENUM (
    'PROCESSING',
    'PACKED',
    'SHIPPED',
    'IN_DELIVERY',
    'DELIVERED'
);


ALTER TYPE public."TrackingStatus" OWNER TO neondb_owner;

--
-- TOC entry 912 (class 1247 OID 24588)
-- Name: UserRole; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."UserRole" AS ENUM (
    'CUSTOMER',
    'ADMIN',
    'DESIGN_STAFF',
    'OWNER'
);


ALTER TYPE public."UserRole" OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 220 (class 1259 OID 16543)
-- Name: account; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.account (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "accountId" text NOT NULL,
    "providerId" text NOT NULL,
pg_dump: creating TABLE "neon_auth.user"
    "userId" uuid NOT NULL,
    "accessToken" text,
    "refreshToken" text,
    "idToken" text,
    "accessTokenExpiresAt" timestamp with time zone,
    "refreshTokenExpiresAt" timestamp with time zone,
    scope text,
    password text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE neon_auth.account OWNER TO neon_auth;

--
-- TOC entry 225 (class 1259 OID 16603)
-- Name: invitation; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.invitation (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "organizationId" uuid NOT NULL,
    email text NOT NULL,
    role text,
    status text NOT NULL,
    "expiresAt" timestamp with time zone NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "inviterId" uuid NOT NULL
);


ALTER TABLE neon_auth.invitation OWNER TO neon_auth;

--
-- TOC entry 222 (class 1259 OID 16567)
-- Name: jwks; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.jwks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "publicKey" text NOT NULL,
    "privateKey" text NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
pg_dump: creating TABLE "neon_auth.verification"
pg_dump: creating TABLE "public.AdminActivityLog"
pg_dump: creating TABLE "public.AuditLog"
pg_dump: creating TABLE "public.CartItem"
pg_dump: creating TABLE "public.CustomerMetrics"
pg_dump: creating TABLE "public.CustomerProfile"
    "expiresAt" timestamp with time zone
);


ALTER TABLE neon_auth.jwks OWNER TO neon_auth;

--
-- TOC entry 224 (class 1259 OID 16585)
-- Name: member; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.member (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "organizationId" uuid NOT NULL,
    "userId" uuid NOT NULL,
    role text NOT NULL,
    "createdAt" timestamp with time zone NOT NULL
);


ALTER TABLE neon_auth.member OWNER TO neon_auth;

--
-- TOC entry 223 (class 1259 OID 16575)
-- Name: organization; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.organization (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    logo text,
    "createdAt" timestamp with time zone NOT NULL,
    metadata text
);


ALTER TABLE neon_auth.organization OWNER TO neon_auth;

--
-- TOC entry 226 (class 1259 OID 16622)
-- Name: project_config; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.project_config (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    endpoint_id text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    trusted_origins jsonb NOT NULL,
    social_providers jsonb NOT NULL,
    email_provider jsonb,
    email_and_password jsonb,
    allow_localhost boolean NOT NULL,
    plugin_configs jsonb,
    webhook_config jsonb
);


ALTER TABLE neon_auth.project_config OWNER TO neon_auth;

--
-- TOC entry 219 (class 1259 OID 16527)
-- Name: session; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.session (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "expiresAt" timestamp with time zone NOT NULL,
    token text NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "userId" uuid NOT NULL,
    "impersonatedBy" text,
    "activeOrganizationId" text
);
pg_dump: creating TABLE "public.DesignFeedback"
pg_dump: creating TABLE "public.DesignRequest"
pg_dump: creating TABLE "public.DesignStaffInfo"
pg_dump: creating TABLE "public.GuestOrder"
pg_dump: creating TABLE "public.LoyaltyRedemption"
pg_dump: creating TABLE "public.LoyaltyTransaction"
pg_dump: creating TABLE "public.Notification"


ALTER TABLE neon_auth.session OWNER TO neon_auth;

--
-- TOC entry 218 (class 1259 OID 16515)
-- Name: user; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth."user" (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "emailVerified" boolean NOT NULL,
    image text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    role text,
    banned boolean,
    "banReason" text,
    "banExpires" timestamp with time zone
);


ALTER TABLE neon_auth."user" OWNER TO neon_auth;

--
-- TOC entry 221 (class 1259 OID 16557)
-- Name: verification; Type: TABLE; Schema: neon_auth; Owner: neon_auth
--

CREATE TABLE neon_auth.verification (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    identifier text NOT NULL,
    value text NOT NULL,
    "expiresAt" timestamp with time zone NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE neon_auth.verification OWNER TO neon_auth;

--
-- TOC entry 253 (class 1259 OID 24952)
-- Name: AdminActivityLog; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."AdminActivityLog" (
    id text NOT NULL,
    "adminId" text NOT NULL,
    action text NOT NULL,
    "targetId" text,
    "targetType" text,
    details text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AdminActivityLog" OWNER TO neondb_owner;

--
-- TOC entry 239 (class 1259 OID 24835)
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    "userId" text,
    "orderId" text,
    "guestOrderId" text,
    action text NOT NULL,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO neondb_owner;

--
-- TOC entry 236 (class 1259 OID 24808)
-- Name: CartItem; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."CartItem" (
    id text NOT NULL,
    "cartId" text NOT NULL,
    "productId" text NOT NULL,
    "variantId" text,
    quantity integer NOT NULL,
    "unitPrice" double precision NOT NULL,
    subtotal double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CartItem" OWNER TO neondb_owner;

--
-- TOC entry 231 (class 1259 OID 24754)
-- Name: CustomerMetrics; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."CustomerMetrics" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "totalTransactions" integer DEFAULT 0 NOT NULL,
    "totalSpent" double precision DEFAULT 0 NOT NULL,
    "averageOrderValue" double precision DEFAULT 0 NOT NULL,
    "currentTier" public."CustomerTier" DEFAULT 'BRONZE'::public."CustomerTier" NOT NULL,
    "tierUpgradedAt" timestamp(3) without time zone,
    "averageRating" double precision DEFAULT 5 NOT NULL,
    "cancellationCount" integer DEFAULT 0 NOT NULL,
    "returnCount" integer DEFAULT 0 NOT NULL,
    "isCODEligible" boolean DEFAULT false NOT NULL,
    "codAutoApproval" boolean DEFAULT false NOT NULL,
    "loyaltyPoints" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CustomerMetrics" OWNER TO neondb_owner;

--
-- TOC entry 229 (class 1259 OID 24735)
-- Name: CustomerProfile; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."CustomerProfile" (
    id text NOT NULL,
    "userId" text NOT NULL,
    address text,
    city text,
    "postalCode" text,
    province text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CustomerProfile" OWNER TO neondb_owner;

--
-- TOC entry 245 (class 1259 OID 24886)
-- Name: DesignFeedback; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."DesignFeedback" (
    id text NOT NULL,
pg_dump: creating TABLE "public.Order"
pg_dump: creating TABLE "public.OrderItem"
pg_dump: creating TABLE "public.OrderNotification"
pg_dump: creating TABLE "public.OrderStatusHistory"
pg_dump: creating TABLE "public.OrderTracking"
pg_dump: creating TABLE "public.Payment"
    "designRequestId" text NOT NULL,
    "designStaffId" text NOT NULL,
    "feedbackText" text NOT NULL,
    "feedbackType" text NOT NULL,
    "revisionNotes" text,
    "suggestedChangesUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DesignFeedback" OWNER TO neondb_owner;

--
-- TOC entry 244 (class 1259 OID 24877)
-- Name: DesignRequest; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."DesignRequest" (
    id text NOT NULL,
    "orderId" text,
    "userId" text NOT NULL,
    "designTitle" text NOT NULL,
    "designDescription" text,
    "referenceImageUrl" text,
    "designFileUrl" text NOT NULL,
    "fileType" text NOT NULL,
    quantity integer NOT NULL,
    "productTypeForSablon" text,
    "colorPreferences" text,
    status public."DesignStatus" DEFAULT 'DRAFT'::public."DesignStatus" NOT NULL,
    "submittedAt" timestamp(3) without time zone,
    deadline timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DesignRequest" OWNER TO neondb_owner;

--
-- TOC entry 230 (class 1259 OID 24743)
-- Name: DesignStaffInfo; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."DesignStaffInfo" (
    id text NOT NULL,
    "userId" text NOT NULL,
    specialization text,
    "avgRating" double precision DEFAULT 5 NOT NULL,
    "totalProjects" integer DEFAULT 0 NOT NULL,
    "isAvailable" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DesignStaffInfo" OWNER TO neondb_owner;

--
-- TOC entry 238 (class 1259 OID 24826)
-- Name: GuestOrder; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."GuestOrder" (
    id text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text,
    address text NOT NULL,
    apartment text,
    city text NOT NULL,
    province text,
    "postalCode" text NOT NULL,
    country text,
    phone text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    total double precision NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."GuestOrder" OWNER TO neondb_owner;

--
-- TOC entry 249 (class 1259 OID 24918)
-- Name: LoyaltyRedemption; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."LoyaltyRedemption" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "discountAmount" double precision NOT NULL,
    "pointsUsed" integer NOT NULL,
    "orderId" text,
    "redemptionDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."LoyaltyRedemptionStatus" DEFAULT 'COMPLETED'::public."LoyaltyRedemptionStatus" NOT NULL
);


ALTER TABLE public."LoyaltyRedemption" OWNER TO neondb_owner;

--
-- TOC entry 248 (class 1259 OID 24910)
-- Name: LoyaltyTransaction; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."LoyaltyTransaction" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "orderId" text,
    "transactionType" public."LoyaltyTransactionType" NOT NULL,
    "pointsAmount" integer NOT NULL,
    reason text,
    "balanceBefore" integer NOT NULL,
    "balanceAfter" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."LoyaltyTransaction" OWNER TO neondb_owner;

--
-- TOC entry 250 (class 1259 OID 24927)
-- Name: Notification; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "notificationType" public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "relatedOrderId" text,
    "relatedDesignId" text,
    "isRead" boolean DEFAULT false NOT NULL,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO neondb_owner;
pg_dump: creating TABLE "public.Product"
pg_dump: creating TABLE "public.ProductCategory"
pg_dump: creating TABLE "public.ProductPerformance"
pg_dump: creating TABLE "public.ProductVariant"
pg_dump: creating TABLE "public.SalesAnalytics"
pg_dump: creating TABLE "public.ShoppingCart"
pg_dump: creating TABLE "public.TrackingHistory"
pg_dump: creating TABLE "public.User"

--
-- TOC entry 237 (class 1259 OID 24816)
-- Name: Order; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    "userId" text NOT NULL,
    "orderDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "totalAmount" double precision NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "paymentMethod" public."PaymentMethod" NOT NULL,
    "deliveryAddress" text,
    "deliveryDate" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Order" OWNER TO neondb_owner;

--
-- TOC entry 242 (class 1259 OID 24860)
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    "variantId" text,
    "designRequestId" text,
    quantity integer NOT NULL,
    "unitPrice" double precision NOT NULL,
    subtotal double precision NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OrderItem" OWNER TO neondb_owner;

--
-- TOC entry 241 (class 1259 OID 24851)
-- Name: OrderNotification; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."OrderNotification" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "userId" text,
    "recipientEmail" text,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "emailSent" boolean DEFAULT false NOT NULL,
    "sentAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OrderNotification" OWNER TO neondb_owner;

--
-- TOC entry 240 (class 1259 OID 24843)
-- Name: OrderStatusHistory; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."OrderStatusHistory" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "previousStatus" text NOT NULL,
    "newStatus" text NOT NULL,
    reason text,
    "updatedBy" text NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OrderStatusHistory" OWNER TO neondb_owner;

--
-- TOC entry 246 (class 1259 OID 24894)
-- Name: OrderTracking; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."OrderTracking" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    status public."TrackingStatus" DEFAULT 'PROCESSING'::public."TrackingStatus" NOT NULL,
    "currentLocation" text,
    "estimatedDeliveryDate" timestamp(3) without time zone,
    carrier text,
    "trackingNumber" text,
    "lastUpdate" timestamp(3) without time zone,
    notes text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."OrderTracking" OWNER TO neondb_owner;

--
-- TOC entry 243 (class 1259 OID 24868)
-- Name: Payment; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "paymentDate" timestamp(3) without time zone,
    amount double precision NOT NULL,
    method public."PaymentMethod" NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "transactionId" text NOT NULL,
    "xenditId" text,
    "qrisReference" text,
    "qrisUrl" text,
    "bankAccount" text,
    "bankName" text,
    "accountName" text,
    "receiptUrl" text,
    "verifiedBy" text,
    "verifiedAt" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
pg_dump: creating TABLE "public._prisma_migrations"
pg_dump: processing data for table "neon_auth.account"
pg_dump: dumping contents of table "neon_auth.account"
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payment" OWNER TO neondb_owner;

--
-- TOC entry 233 (class 1259 OID 24780)
-- Name: Product; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "categoryId" text NOT NULL,
    "productName" text NOT NULL,
    description text,
    price double precision NOT NULL,
    "stockQuantity" integer DEFAULT 0 NOT NULL,
    "productType" public."ProductType" NOT NULL,
    "imageUrl" text,
    "businessType" public."BusinessType" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO neondb_owner;

--
-- TOC entry 232 (class 1259 OID 24772)
-- Name: ProductCategory; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProductCategory" (
    id text NOT NULL,
    "categoryName" text NOT NULL,
    "businessType" public."BusinessType" NOT NULL,
    description text,
    "iconUrl" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProductCategory" OWNER TO neondb_owner;

--
-- TOC entry 252 (class 1259 OID 24944)
-- Name: ProductPerformance; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProductPerformance" (
    id text NOT NULL,
    "productId" text NOT NULL,
    period text NOT NULL,
    "totalSold" integer NOT NULL,
    "totalRevenue" double precision NOT NULL,
    "ratingAverage" double precision NOT NULL,
    trend text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProductPerformance" OWNER TO neondb_owner;

--
-- TOC entry 234 (class 1259 OID 24790)
-- Name: ProductVariant; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ProductVariant" (
    id text NOT NULL,
    "productId" text NOT NULL,
    "variantName" text NOT NULL,
    sku text NOT NULL,
    "additionalPrice" double precision DEFAULT 0 NOT NULL,
    "stockQuantity" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProductVariant" OWNER TO neondb_owner;

--
-- TOC entry 251 (class 1259 OID 24936)
-- Name: SalesAnalytics; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."SalesAnalytics" (
    id text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "totalOrders" integer NOT NULL,
    "totalRevenue" double precision NOT NULL,
    "totalCustomers" integer NOT NULL,
    "averageOrderValue" double precision NOT NULL,
    "businessTypeBreakdown" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SalesAnalytics" OWNER TO neondb_owner;

--
-- TOC entry 235 (class 1259 OID 24800)
-- Name: ShoppingCart; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."ShoppingCart" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ShoppingCart" OWNER TO neondb_owner;

--
-- TOC entry 247 (class 1259 OID 24902)
-- Name: TrackingHistory; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."TrackingHistory" (
    id text NOT NULL,
    "trackingId" text NOT NULL,
    status public."TrackingStatus" NOT NULL,
    location text,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text
);


ALTER TABLE public."TrackingHistory" OWNER TO neondb_owner;

--
pg_dump: processing data for table "neon_auth.invitation"
pg_dump: dumping contents of table "neon_auth.invitation"
pg_dump: processing data for table "neon_auth.jwks"
pg_dump: dumping contents of table "neon_auth.jwks"
pg_dump: processing data for table "neon_auth.member"
pg_dump: dumping contents of table "neon_auth.member"
pg_dump: processing data for table "neon_auth.organization"
pg_dump: dumping contents of table "neon_auth.organization"
pg_dump: processing data for table "neon_auth.project_config"
pg_dump: dumping contents of table "neon_auth.project_config"
pg_dump: processing data for table "neon_auth.session"
pg_dump: dumping contents of table "neon_auth.session"
-- TOC entry 228 (class 1259 OID 24725)
-- Name: User; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "fullName" text NOT NULL,
    phone text,
    role public."UserRole" DEFAULT 'CUSTOMER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "emailVerified" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO neondb_owner;

--
-- TOC entry 227 (class 1259 OID 24578)
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- TOC entry 3770 (class 0 OID 16543)
-- Dependencies: 220
-- Data for Name: account; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth.account (id, "accountId", "providerId", "userId", "accessToken", "refreshToken", "idToken", "accessTokenExpiresAt", "refreshTokenExpiresAt", scope, password, "createdAt", "updatedAt") FROM stdin;
\.


--
-- TOC entry 3775 (class 0 OID 16603)
-- Dependencies: 225
-- Data for Name: invitation; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth.invitation (id, "organizationId", email, role, status, "expiresAt", "createdAt", "inviterId") FROM stdin;
\.


--
-- TOC entry 3772 (class 0 OID 16567)
-- Dependencies: 222
-- Data for Name: jwks; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth.jwks (id, "publicKey", "privateKey", "createdAt", "expiresAt") FROM stdin;
\.


--
-- TOC entry 3774 (class 0 OID 16585)
-- Dependencies: 224
-- Data for Name: member; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth.member (id, "organizationId", "userId", role, "createdAt") FROM stdin;
\.


--
-- TOC entry 3773 (class 0 OID 16575)
-- Dependencies: 223
-- Data for Name: organization; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth.organization (id, name, slug, logo, "createdAt", metadata) FROM stdin;
\.


--
-- TOC entry 3776 (class 0 OID 16622)
-- Dependencies: 226
-- Data for Name: project_config; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--



--
-- TOC entry 3769 (class 0 OID 16527)
-- Dependencies: 219
-- Data for Name: session; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth.session (id, "expiresAt", token, "createdAt", "updatedAt", "ipAddress", "userAgent", "userId", "impersonatedBy", "activeOrganizationId") FROM stdin;
\.


--
-- TOC entry 3768 (class 0 OID 16515)
-- Dependencies: 218
pg_dump: processing data for table "neon_auth.user"
pg_dump: dumping contents of table "neon_auth.user"
pg_dump: processing data for table "neon_auth.verification"
pg_dump: dumping contents of table "neon_auth.verification"
pg_dump: processing data for table "public.AdminActivityLog"
pg_dump: dumping contents of table "public.AdminActivityLog"
pg_dump: processing data for table "public.AuditLog"
pg_dump: dumping contents of table "public.AuditLog"
pg_dump: processing data for table "public.CartItem"
pg_dump: dumping contents of table "public.CartItem"
pg_dump: processing data for table "public.CustomerMetrics"
pg_dump: dumping contents of table "public.CustomerMetrics"
pg_dump: processing data for table "public.CustomerProfile"
pg_dump: dumping contents of table "public.CustomerProfile"
-- Data for Name: user; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth."user" (id, name, email, "emailVerified", image, "createdAt", "updatedAt", role, banned, "banReason", "banExpires") FROM stdin;
\.


--
-- TOC entry 3771 (class 0 OID 16557)
-- Dependencies: 221
-- Data for Name: verification; Type: TABLE DATA; Schema: neon_auth; Owner: neon_auth
--

COPY neon_auth.verification (id, identifier, value, "expiresAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- TOC entry 3803 (class 0 OID 24952)
-- Dependencies: 253
-- Data for Name: AdminActivityLog; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."AdminActivityLog" (id, "adminId", action, "targetId", "targetType", details, "createdAt") FROM stdin;
\.


--
-- TOC entry 3789 (class 0 OID 24835)
-- Dependencies: 239
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."AuditLog" (id, "userId", "orderId", "guestOrderId", action, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- TOC entry 3786 (class 0 OID 24808)
-- Dependencies: 236
-- Data for Name: CartItem; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."CartItem" (id, "cartId", "productId", "variantId", quantity, "unitPrice", subtotal, "createdAt", "updatedAt") FROM stdin;
cmpjkcoik002bvat8os0ro94n	cmpjkcoik0029vat8p5pix1kn	cmpjkcdc50011vat8j1dn5182	\N	2	85000	170000	2026-05-24 09:16:49.82	2026-05-24 09:16:49.82
cmpjkcqap002evat8prqc1w5r	cmpjkcqap002cvat8sot96lwf	cmpjkcdc50011vat8j1dn5182	\N	2	85000	170000	2026-05-24 09:16:52.129	2026-05-24 09:16:52.129
cmpjkcreu002hvat8u8wk40z3	cmpjkcreu002fvat8wzup9br2	cmpjkcdc50011vat8j1dn5182	\N	2	85000	170000	2026-05-24 09:16:53.574	2026-05-24 09:16:53.574
\.


--
-- TOC entry 3781 (class 0 OID 24754)
-- Dependencies: 231
-- Data for Name: CustomerMetrics; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3779 (class 0 OID 24735)
-- Dependencies: 229
-- Data for Name: CustomerProfile; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3795 (class 0 OID 24886)
-- Dependencies: 245
-- Data for Name: DesignFeedback; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."DesignFeedback" (id, "designRequestId", "designStaffId", "feedbackText", "feedbackType", "revisionNotes", "suggestedChangesUrl", "createdAt") FROM stdin;
cmpjkd0660034vat8ikgdx898	cmpjkd0660033vat8yi7vnbeg	cmpjkbum60001vat816zx6n7o	Design sudah sempurna, siap untuk production	APPROVED	\N	\N	2026-05-24 09:17:04.919
\.


--
-- TOC entry 3794 (class 0 OID 24877)
-- Dependencies: 244
-- Data for Name: DesignRequest; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3780 (class 0 OID 24743)
-- Dependencies: 230
-- Data for Name: DesignStaffInfo; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."DesignStaffInfo" (id, "userId", specialization, "avgRating", "totalProjects", "isAvailable", "createdAt", "updatedAt") FROM stdin;
cmpjkbum60002vat8lesaw2cp	cmpjkbum60001vat816zx6n7o	Sablon Custom Design	4.8	50	t	2026-05-24 09:16:11.07	2026-05-24 09:16:11.07
\.


--
-- TOC entry 3788 (class 0 OID 24826)
-- Dependencies: 238
-- Data for Name: GuestOrder; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."GuestOrder" (id, "firstName", "lastName", email, address, apartment, city, province, "postalCode", country, phone, status, total, "createdAt", "updatedAt") FROM stdin;
\.


--
-- TOC entry 3799 (class 0 OID 24918)
-- Dependencies: 249
-- Data for Name: LoyaltyRedemption; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."LoyaltyRedemption" (id, "userId", "discountAmount", "pointsUsed", "orderId", "redemptionDate", status) FROM stdin;
\.


--
-- TOC entry 3798 (class 0 OID 24910)
-- Dependencies: 248
-- Data for Name: LoyaltyTransaction; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."LoyaltyTransaction" (id, "userId", "orderId", "transactionType", "pointsAmount", reason, "balanceBefore", "balanceAfter", "createdAt") FROM stdin;
cmpjkd1yf0035vat8rgm4mka2	cmpjkbx5v0004vat8hucxguce	cmpjkcsj7002ivat8n4p13kn1	EARNED	50	Pembelian order	0	50	2026-05-24 09:17:07.239
\.


--
-- TOC entry 3800 (class 0 OID 24927)
-- Dependencies: 250
pg_dump: processing data for table "public.Notification"
pg_dump: dumping contents of table "public.Notification"
pg_dump: processing data for table "public.Order"
pg_dump: dumping contents of table "public.Order"
pg_dump: processing data for table "public.OrderItem"
pg_dump: dumping contents of table "public.OrderItem"
pg_dump: processing data for table "public.OrderNotification"
pg_dump: dumping contents of table "public.OrderNotification"
pg_dump: processing data for table "public.OrderStatusHistory"
pg_dump: dumping contents of table "public.OrderStatusHistory"
pg_dump: processing data for table "public.OrderTracking"
pg_dump: dumping contents of table "public.OrderTracking"
pg_dump: processing data for table "public.Payment"
pg_dump: dumping contents of table "public.Payment"
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Notification" (id, "userId", "notificationType", title, message, "relatedOrderId", "relatedDesignId", "isRead", "readAt", "createdAt") FROM stdin;
cmpjkd2em0036vat8d32ydzcf	cmpjkbx5v0004vat8hucxguce	ORDER_CONFIRMED	Pesanan Dikonfirmasi	Pesanan Anda telah dikonfirmasi dan sedang diproses	cmpjkcsj7002ivat8n4p13kn1	\N	f	\N	2026-05-24 09:17:07.823
cmpjkd2ut0037vat8x1l82qw7	cmpjkbyow0006vat8w9biunnn	PAYMENT_RECEIVED	Pembayaran Diterima	Pembayaran Anda telah diterima	cmpjkcuby002lvat8ow47etwm	\N	f	\N	2026-05-24 09:17:08.405
\.


--
-- TOC entry 3787 (class 0 OID 24816)
-- Dependencies: 237
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3792 (class 0 OID 24860)
-- Dependencies: 242
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."OrderItem" (id, "orderId", "productId", "variantId", "designRequestId", quantity, "unitPrice", subtotal, notes, "createdAt") FROM stdin;
cmpjkcsj7002kvat859i2k5li	cmpjkcsj7002ivat8n4p13kn1	cmpjkcdc50011vat8j1dn5182	\N	\N	3	85000	255000	\N	2026-05-24 09:16:55.027
cmpjkcuby002nvat8n76hur5e	cmpjkcuby002lvat8ow47etwm	cmpjkcf5d0017vat8btl8232k	\N	\N	2	95000	190000	\N	2026-05-24 09:16:57.358
cmpjkcvo5002qvat8xlptr50r	cmpjkcvo5002ovat8k82ydz2b	cmpjkcneb0024vat8e4rysjwp	\N	\N	3	25000	75000	\N	2026-05-24 09:16:59.093
\.


--
-- TOC entry 3791 (class 0 OID 24851)
-- Dependencies: 241
-- Data for Name: OrderNotification; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."OrderNotification" (id, "orderId", "userId", "recipientEmail", type, title, message, "emailSent", "sentAt", "createdAt") FROM stdin;
\.


--
-- TOC entry 3790 (class 0 OID 24843)
-- Dependencies: 240
-- Data for Name: OrderStatusHistory; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."OrderStatusHistory" (id, "orderId", "previousStatus", "newStatus", reason, "updatedBy", notes, "createdAt") FROM stdin;
\.


--
-- TOC entry 3796 (class 0 OID 24894)
-- Dependencies: 246
-- Data for Name: OrderTracking; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."OrderTracking" (id, "orderId", status, "currentLocation", "estimatedDeliveryDate", carrier, "trackingNumber", "lastUpdate", notes, "updatedAt") FROM stdin;
cmpjkcydx002yvat81fashsxa	cmpjkcsj7002ivat8n4p13kn1	SHIPPED	Jakarta	2026-05-27 09:17:02.607	JNE	JNE12345678	\N	\N	2026-05-24 09:17:02.613
\.


--
-- TOC entry 3793 (class 0 OID 24868)
-- Dependencies: 243
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3783 (class 0 OID 24780)
-- Dependencies: 233
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3782 (class 0 OID 24772)
-- Dependencies: 232
-- Data for Name: ProductCategory; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ProductCategory" (id, "categoryName", "businessType", description, "iconUrl", "createdAt", "updatedAt") FROM stdin;
cmpjkccnt000yvat8btuy7n3e	Fashion Retail	FASHION_RETAIL	Kaos dan atribut supporter sepak bola	https://via.placeholder.com/50?text=Fashion	2026-05-24 09:16:34.458	2026-05-24 09:16:34.458
cmpjkcd3w000zvat8xx3arl8a	Sablon Custom	SABLON_SERVICE	Jasa percetakan sablon custom berkualitas	https://via.placeholder.com/50?text=Sablon	2026-05-24 09:16:35.037	2026-05-24 09:16:35.037
\.


--
-- TOC entry 3802 (class 0 OID 24944)
-- Dependencies: 252
-- Data for Name: ProductPerformance; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ProductPerformance" (id, "productId", period, "totalSold", "totalRevenue", "ratingAverage", trend, "createdAt") FROM stdin;
\.


--
pg_dump: processing data for table "public.ProductVariant"
-- TOC entry 3784 (class 0 OID 24790)
-- Dependencies: 234
pg_dump: dumping contents of table "public.ProductVariant"
pg_dump: processing data for table "public.SalesAnalytics"
pg_dump: dumping contents of table "public.SalesAnalytics"
pg_dump: processing data for table "public.ShoppingCart"
pg_dump: dumping contents of table "public.ShoppingCart"
pg_dump: processing data for table "public.TrackingHistory"
pg_dump: dumping contents of table "public.TrackingHistory"
-- Data for Name: ProductVariant; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3801 (class 0 OID 24936)
-- Dependencies: 251
-- Data for Name: SalesAnalytics; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."SalesAnalytics" (id, date, "totalOrders", "totalRevenue", "totalCustomers", "averageOrderValue", "businessTypeBreakdown", "createdAt", "updatedAt") FROM stdin;
cmpjkd32u0038vat8d2xhz4s6	2026-05-24 09:17:08.689	3	450000	10	150000	{"fashion":2,"sablon":1}	2026-05-24 09:17:08.695	2026-05-24 09:17:08.695
\.


--
-- TOC entry 3785 (class 0 OID 24800)
-- Dependencies: 235
-- Data for Name: ShoppingCart; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."ShoppingCart" (id, "userId", "createdAt", "updatedAt") FROM stdin;
cmpjkcoik0029vat8p5pix1kn	cmpjkbx5v0004vat8hucxguce	2026-05-24 09:16:49.82	2026-05-24 09:16:49.82
cmpjkcqap002cvat8sot96lwf	cmpjkbyow0006vat8w9biunnn	2026-05-24 09:16:52.129	2026-05-24 09:16:52.129
cmpjkcreu002fvat8wzup9br2	cmpjkbzyx0008vat8bnhz0j0z	2026-05-24 09:16:53.574	2026-05-24 09:16:53.574
\.


--
-- TOC entry 3797 (class 0 OID 24902)
-- Dependencies: 247
-- Data for Name: TrackingHistory; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

pg_dump: processing data for table "public.User"
pg_dump: dumping contents of table "public.User"
pg_dump: processing data for table "public._prisma_migrations"
pg_dump: dumping contents of table "public._prisma_migrations"
pg_dump: creating CONSTRAINT "neon_auth.account account_pkey"
pg_dump: creating CONSTRAINT "neon_auth.invitation invitation_pkey"
COPY public."TrackingHistory" (id, "trackingId", status, location, "timestamp", notes) FROM stdin;
cmpjkcydx002zvat850uybwkh	cmpjkcydx002yvat81fashsxa	PROCESSING	Surabaya	2026-05-24 09:17:02.613	Pesanan sedang diproses
cmpjkcydx0030vat8yci0shfx	cmpjkcydx002yvat81fashsxa	PACKED	Surabaya	2026-05-24 09:17:02.613	Pesanan sudah di-pack
cmpjkcydx0031vat87w0mh3tu	cmpjkcydx002yvat81fashsxa	SHIPPED	Jakarta	2026-05-24 09:17:02.613	Pesanan dalam perjalanan
\.


--
-- TOC entry 3778 (class 0 OID 24725)
-- Dependencies: 228
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- TOC entry 3777 (class 0 OID 24578)
-- Dependencies: 227
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
009422de-07db-4714-a941-c1482ff59374	4389cbf56229d62847ac0ba59f889f3f5ccf8a80c6baa4dae4ae89b6d8f628f9	2026-05-20 12:47:38.67239+00	20260520124735_init_postgresql	\N	\N	2026-05-20 12:47:37.230165+00	1
\.


--
-- TOC entry 3469 (class 2606 OID 16551)
-- Name: account account_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.account
    ADD CONSTRAINT account_pkey PRIMARY KEY (id);


--
-- TOC entry 3488 (class 2606 OID 16611)
-- Name: invitation invitation_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

pg_dump: creating CONSTRAINT "neon_auth.jwks jwks_pkey"
ALTER TABLE ONLY neon_auth.invitation
    ADD CONSTRAINT invitation_pkey PRIMARY KEY (id);


--
-- TOC entry 3475 (class 2606 OID 16574)
-- Name: jwks jwks_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.jwks
    ADD CONSTRAINT jwks_pkey PRIMARY KEY (id);


--
-- TOC entry 3483 (class 2606 OID 16592)
-- Name: member member_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (id);


--
-- TOC entry 3477 (class 2606 OID 16582)
-- Name: organization organization_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.organization
    ADD CONSTRAINT organization_pkey PRIMARY KEY (id);


--
-- TOC entry 3479 (class 2606 OID 16584)
-- Name: organization organization_slug_key; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.organization
    ADD CONSTRAINT organization_slug_key UNIQUE (slug);


--
-- TOC entry 3490 (class 2606 OID 16633)
-- Name: project_config project_config_endpoint_id_key; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.project_config
    ADD CONSTRAINT project_config_endpoint_id_key UNIQUE (endpoint_id);


--
-- TOC entry 3492 (class 2606 OID 16631)
-- Name: project_config project_config_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.project_config
    ADD CONSTRAINT project_config_pkey PRIMARY KEY (id);


--
-- TOC entry 3464 (class 2606 OID 16535)
-- Name: session session_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (id);


--
-- TOC entry 3466 (class 2606 OID 16537)
-- Name: session session_token_key; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.session
    ADD CONSTRAINT session_token_key UNIQUE (token);


--
-- TOC entry 3460 (class 2606 OID 16526)
-- Name: user user_email_key; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- TOC entry 3462 (class 2606 OID 16524)
-- Name: user user_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- TOC entry 3473 (class 2606 OID 16566)
-- Name: verification verification_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.verification
    ADD CONSTRAINT verification_pkey PRIMARY KEY (id);


--
-- TOC entry 3598 (class 2606 OID 24959)
-- Name: AdminActivityLog AdminActivityLog_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."AdminActivityLog"
    ADD CONSTRAINT "AdminActivityLog_pkey" PRIMARY KEY (id);

pg_dump: creating CONSTRAINT "neon_auth.member member_pkey"
pg_dump: creating CONSTRAINT "neon_auth.organization organization_pk
ey"
pg_dump: creating CONSTRAINT "neon_auth.organization organization_sl
ug_key"
pg_dump: creating CONSTRAINT "neon_auth.project_config project_confi
g_endpoint_id_key"
pg_dump: creating CONSTRAINT "neon_auth.project_config project_confi
g_pkey"
pg_dump: creating CONSTRAINT "neon_auth.session session_pkey"
pg_dump: creating CONSTRAINT "neon_auth.session session_token_key"
pg_dump: creating CONSTRAINT "neon_auth.user user_email_key"
pg_dump: creating CONSTRAINT "neon_auth.user user_pkey"
pg_dump: creating CONSTRAINT "neon_auth.verification verification_pk
ey"
pg_dump: creating CONSTRAINT "public.AdminActivityLog AdminActivityL
og_pkey"
pg_dump: creating CONSTRAINT "public.AuditLog AuditLog_pkey"
pg_dump: creating CONSTRAINT "public.CartItem CartItem_pkey"
pg_dump: creating CONSTRAINT "public.CustomerMetrics CustomerMetrics
_pkey"
pg_dump: creating CONSTRAINT "public.CustomerProfile CustomerProfile
_pkey"
pg_dump: creating CONSTRAINT "public.DesignFeedback DesignFeedback_p
key"

--
-- TOC entry 3542 (class 2606 OID 24842)
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- TOC entry 3526 (class 2606 OID 24815)
-- Name: CartItem CartItem_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_pkey" PRIMARY KEY (id);


--
-- TOC entry 3507 (class 2606 OID 24771)
pg_dump: creating CONSTRAINT "public.DesignRequest DesignRequest_pke
y"
pg_dump: creating CONSTRAINT "public.DesignStaffInfo DesignStaffInfo
_pkey"
pg_dump: creating CONSTRAINT "public.GuestOrder GuestOrder_pkey"
pg_dump: creating CONSTRAINT "public.LoyaltyRedemption LoyaltyRedemp
tion_pkey"
pg_dump: creating CONSTRAINT "public.LoyaltyTransaction LoyaltyTrans
action_pkey"
pg_dump: creating CONSTRAINT "public.Notification Notification_pkey"
pg_dump: creating CONSTRAINT "public.OrderItem OrderItem_pkey"
pg_dump: creating CONSTRAINT "public.OrderNotification OrderNotifica
tion_pkey"
pg_dump: creating CONSTRAINT "public.OrderStatusHistory OrderStatusH
istory_pkey"
pg_dump: creating CONSTRAINT "public.OrderTracking OrderTracking_pke
y"
pg_dump: creating CONSTRAINT "public.Order Order_pkey"
pg_dump: creating CONSTRAINT "public.Payment Payment_pkey"
pg_dump: creating CONSTRAINT "public.ProductCategory ProductCategory
_pkey"
pg_dump: creating CONSTRAINT "public.ProductPerformance ProductPerfo
rmance_pkey"
pg_dump: creating CONSTRAINT "public.ProductVariant ProductVariant_p
key"
pg_dump: creating CONSTRAINT "public.Product Product_pkey"
-- Name: CustomerMetrics CustomerMetrics_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CustomerMetrics"
    ADD CONSTRAINT "CustomerMetrics_pkey" PRIMARY KEY (id);


--
-- TOC entry 3501 (class 2606 OID 24742)
-- Name: CustomerProfile CustomerProfile_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CustomerProfile"
    ADD CONSTRAINT "CustomerProfile_pkey" PRIMARY KEY (id);


--
-- TOC entry 3570 (class 2606 OID 24893)
-- Name: DesignFeedback DesignFeedback_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DesignFeedback"
    ADD CONSTRAINT "DesignFeedback_pkey" PRIMARY KEY (id);


--
-- TOC entry 3565 (class 2606 OID 24885)
-- Name: DesignRequest DesignRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

pg_dump: creating CONSTRAINT "public.SalesAnalytics SalesAnalytics_p
key"
pg_dump: creating CONSTRAINT "public.ShoppingCart ShoppingCart_pkey"
pg_dump: creating CONSTRAINT "public.TrackingHistory TrackingHistory
_pkey"
pg_dump: creating CONSTRAINT "public.User User_pkey"
pg_dump: creating CONSTRAINT "public._prisma_migrations _prisma_migr
ations_pkey"
pg_dump: creating INDEX "neon_auth.account_userId_idx"
pg_dump: creating INDEX "neon_auth.invitation_email_idx"
pg_dump: creating INDEX "neon_auth.invitation_organizationId_idx"
pg_dump: creating INDEX "neon_auth.member_organizationId_idx"
pg_dump: creating INDEX "neon_auth.member_userId_idx"
pg_dump: creating INDEX "neon_auth.organization_slug_uidx"
pg_dump: creating INDEX "neon_auth.session_userId_idx"
pg_dump: creating INDEX "neon_auth.verification_identifier_idx"
pg_dump: creating INDEX "public.AdminActivityLog_adminId_idx"
pg_dump: creating INDEX "public.AdminActivityLog_createdAt_idx"
pg_dump: creating INDEX "public.AuditLog_action_idx"
pg_dump: creating INDEX "public.AuditLog_guestOrderId_idx"
pg_dump: creating INDEX "public.AuditLog_orderId_idx"
ALTER TABLE ONLY public."DesignRequest"
    ADD CONSTRAINT "DesignRequest_pkey" PRIMARY KEY (id);


--
-- TOC entry 3504 (class 2606 OID 24753)
-- Name: DesignStaffInfo DesignStaffInfo_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DesignStaffInfo"
    ADD CONSTRAINT "DesignStaffInfo_pkey" PRIMARY KEY (id);


--
-- TOC entry 3536 (class 2606 OID 24834)
-- Name: GuestOrder GuestOrder_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."GuestOrder"
    ADD CONSTRAINT "GuestOrder_pkey" PRIMARY KEY (id);


--
-- TOC entry 3582 (class 2606 OID 24926)
-- Name: LoyaltyRedemption LoyaltyRedemption_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."LoyaltyRedemption"
    ADD CONSTRAINT "LoyaltyRedemption_pkey" PRIMARY KEY (id);


--
-- TOC entry 3579 (class 2606 OID 24917)
-- Name: LoyaltyTransaction LoyaltyTransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."LoyaltyTransaction"
    ADD CONSTRAINT "LoyaltyTransaction_pkey" PRIMARY KEY (id);


--
-- TOC entry 3586 (class 2606 OID 24935)
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- TOC entry 3554 (class 2606 OID 24867)
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- TOC entry 3550 (class 2606 OID 24859)
-- Name: OrderNotification OrderNotification_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderNotification"
    ADD CONSTRAINT "OrderNotification_pkey" PRIMARY KEY (id);


--
-- TOC entry 3547 (class 2606 OID 24850)
-- Name: OrderStatusHistory OrderStatusHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderStatusHistory"
    ADD CONSTRAINT "OrderStatusHistory_pkey" PRIMARY KEY (id);


--
-- TOC entry 3574 (class 2606 OID 24901)
-- Name: OrderTracking OrderTracking_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderTracking"
    ADD CONSTRAINT "OrderTracking_pkey" PRIMARY KEY (id);


--
-- TOC entry 3531 (class 2606 OID 24825)
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- TOC entry 3559 (class 2606 OID 24876)
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- TOC entry 3512 (class 2606 OID 24779)
-- Name: ProductCategory ProductCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductCategory"
    ADD CONSTRAINT "ProductCategory_pkey" PRIMARY KEY (id);


--
-- TOC entry 3593 (class 2606 OID 24951)
-- Name: ProductPerformance ProductPerformance_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductPerformance"
    ADD CONSTRAINT "ProductPerformance_pkey" PRIMARY KEY (id);


--
-- TOC entry 3518 (class 2606 OID 24799)
-- Name: ProductVariant ProductVariant_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductVariant"
pg_dump: creating INDEX "public.AuditLog_userId_idx"
pg_dump: creating INDEX "public.CartItem_cartId_idx"
pg_dump: creating INDEX "public.CartItem_productId_idx"
pg_dump: creating INDEX "public.CustomerMetrics_userId_key"
pg_dump: creating INDEX "public.CustomerProfile_userId_key"
pg_dump: creating INDEX "public.DesignFeedback_designRequestId_idx"
pg_dump: creating INDEX "public.DesignRequest_status_idx"
pg_dump: creating INDEX "public.DesignRequest_userId_idx"
pg_dump: creating INDEX "public.DesignStaffInfo_userId_key"
pg_dump: creating INDEX "public.GuestOrder_createdAt_idx"
pg_dump: creating INDEX "public.GuestOrder_status_idx"
pg_dump: creating INDEX "public.LoyaltyRedemption_userId_idx"
pg_dump: creating INDEX "public.LoyaltyTransaction_userId_idx"
pg_dump: creating INDEX "public.Notification_isRead_idx"
pg_dump: creating INDEX "public.Notification_userId_idx"
pg_dump: creating INDEX "public.OrderItem_orderId_idx"
pg_dump: creating INDEX "public.OrderItem_productId_idx"
pg_dump: creating INDEX "public.OrderNotification_orderId_idx"
    ADD CONSTRAINT "ProductVariant_pkey" PRIMARY KEY (id);


--
-- TOC entry 3516 (class 2606 OID 24789)
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- TOC entry 3591 (class 2606 OID 24943)
-- Name: SalesAnalytics SalesAnalytics_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."SalesAnalytics"
    ADD CONSTRAINT "SalesAnalytics_pkey" PRIMARY KEY (id);


--
-- TOC entry 3522 (class 2606 OID 24807)
-- Name: ShoppingCart ShoppingCart_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ShoppingCart"
    ADD CONSTRAINT "ShoppingCart_pkey" PRIMARY KEY (id);


--
-- TOC entry 3576 (class 2606 OID 24909)
-- Name: TrackingHistory TrackingHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."TrackingHistory"
    ADD CONSTRAINT "TrackingHistory_pkey" PRIMARY KEY (id);


--
-- TOC entry 3498 (class 2606 OID 24734)
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- TOC entry 3494 (class 2606 OID 24586)
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- TOC entry 3470 (class 1259 OID 16635)
-- Name: account_userId_idx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE INDEX "account_userId_idx" ON neon_auth.account USING btree ("userId");


--
-- TOC entry 3485 (class 1259 OID 16641)
-- Name: invitation_email_idx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE INDEX invitation_email_idx ON neon_auth.invitation USING btree (email);


--
-- TOC entry 3486 (class 1259 OID 16640)
-- Name: invitation_organizationId_idx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE INDEX "invitation_organizationId_idx" ON neon_auth.invitation USING btree ("organizationId");


--
-- TOC entry 3481 (class 1259 OID 16638)
-- Name: member_organizationId_idx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE INDEX "member_organizationId_idx" ON neon_auth.member USING btree ("organizationId");


--
-- TOC entry 3484 (class 1259 OID 16639)
-- Name: member_userId_idx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE INDEX "member_userId_idx" ON neon_auth.member USING btree ("userId");


--
-- TOC entry 3480 (class 1259 OID 16637)
-- Name: organization_slug_uidx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE UNIQUE INDEX organization_slug_uidx ON neon_auth.organization USING btree (slug);


--
-- TOC entry 3467 (class 1259 OID 16634)
-- Name: session_userId_idx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE INDEX "session_userId_idx" ON neon_auth.session USING btree ("userId");


--
-- TOC entry 3471 (class 1259 OID 16636)
-- Name: verification_identifier_idx; Type: INDEX; Schema: neon_auth; Owner: neon_auth
--

CREATE INDEX verification_identifier_idx ON neon_auth.verification USING btree (identifier);


--
-- TOC entry 3595 (class 1259 OID 25010)
-- Name: AdminActivityLog_adminId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AdminActivityLog_adminId_idx" ON public."AdminActivityLog" USING btree ("adminId");


--
-- TOC entry 3596 (class 1259 OID 25011)
-- Name: AdminActivityLog_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AdminActivityLog_createdAt_idx" ON public."AdminActivityLog" USING btree ("createdAt");


--
-- TOC entry 3538 (class 1259 OID 24984)
-- Name: AuditLog_action_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_action_idx" ON public."AuditLog" USING btree (action);


--
-- TOC entry 3539 (class 1259 OID 24983)
-- Name: AuditLog_guestOrderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_guestOrderId_idx" ON public."AuditLog" USING btree ("guestOrderId");


--
-- TOC entry 3540 (class 1259 OID 24982)
-- Name: AuditLog_orderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_orderId_idx" ON public."AuditLog" USING btree ("orderId");


--
-- TOC entry 3543 (class 1259 OID 24981)
-- Name: AuditLog_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "AuditLog_userId_idx" ON public."AuditLog" USING btree ("userId");


--
-- TOC entry 3524 (class 1259 OID 24973)
-- Name: CartItem_cartId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "CartItem_cartId_idx" ON public."CartItem" USING btree ("cartId");


--
-- TOC entry 3527 (class 1259 OID 24974)
-- Name: CartItem_productId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "CartItem_productId_idx" ON public."CartItem" USING btree ("productId");

pg_dump: creating INDEX "public.OrderNotification_type_idx"
pg_dump: creating INDEX "public.OrderStatusHistory_createdAt_idx"
pg_dump: creating INDEX "public.OrderStatusHistory_orderId_idx"
pg_dump: creating INDEX "public.OrderTracking_orderId_idx"
pg_dump: creating INDEX "public.OrderTracking_orderId_key"
pg_dump: creating INDEX "public.Order_orderDate_idx"
pg_dump: creating INDEX "public.Order_orderNumber_key"
pg_dump: creating INDEX "public.Order_status_idx"
pg_dump: creating INDEX "public.Order_userId_idx"
pg_dump: creating INDEX "public.Payment_orderId_idx"
pg_dump: creating INDEX "public.Payment_orderId_key"
pg_dump: creating INDEX "public.Payment_status_idx"
pg_dump: creating INDEX "public.Payment_transactionId_idx"
pg_dump: creating INDEX "public.Payment_transactionId_key"
pg_dump: creating INDEX "public.Payment_xenditId_key"
pg_dump: creating INDEX "public.ProductCategory_businessType_idx"
pg_dump: creating INDEX "public.ProductCategory_categoryName_key"
pg_dump: creating INDEX "public.ProductPerformance_productId_idx"

--
-- TOC entry 3508 (class 1259 OID 24965)
-- Name: CustomerMetrics_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "CustomerMetrics_userId_key" ON public."CustomerMetrics" USING btree ("userId");


--
-- TOC entry 3502 (class 1259 OID 24963)
-- Name: CustomerProfile_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "CustomerProfile_userId_key" ON public."CustomerProfile" USING btree ("userId");


--
-- TOC entry 3568 (class 1259 OID 24999)
-- Name: DesignFeedback_designRequestId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "DesignFeedback_designRequestId_idx" ON public."DesignFeedback" USING btree ("designRequestId");


--
-- TOC entry 3566 (class 1259 OID 24998)
-- Name: DesignRequest_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "DesignRequest_status_idx" ON public."DesignRequest" USING btree (status);


--
-- TOC entry 3567 (class 1259 OID 24997)
-- Name: DesignRequest_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "DesignRequest_userId_idx" ON public."DesignRequest" USING btree ("userId");


--
-- TOC entry 3505 (class 1259 OID 24964)
-- Name: DesignStaffInfo_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "DesignStaffInfo_userId_key" ON public."DesignStaffInfo" USING btree ("userId");


--
-- TOC entry 3534 (class 1259 OID 24980)
-- Name: GuestOrder_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "GuestOrder_createdAt_idx" ON public."GuestOrder" USING btree ("createdAt");


--
-- TOC entry 3537 (class 1259 OID 24979)
-- Name: GuestOrder_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "GuestOrder_status_idx" ON public."GuestOrder" USING btree (status);


--
-- TOC entry 3583 (class 1259 OID 25004)
-- Name: LoyaltyRedemption_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "LoyaltyRedemption_userId_idx" ON public."LoyaltyRedemption" USING btree ("userId");


--
-- TOC entry 3580 (class 1259 OID 25003)
-- Name: LoyaltyTransaction_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "LoyaltyTransaction_userId_idx" ON public."LoyaltyTransaction" USING btree ("userId");


--
-- TOC entry 3584 (class 1259 OID 25006)
-- Name: Notification_isRead_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_isRead_idx" ON public."Notification" USING btree ("isRead");


--
-- TOC entry 3587 (class 1259 OID 25005)
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- TOC entry 3552 (class 1259 OID 24989)
-- Name: OrderItem_orderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "OrderItem_orderId_idx" ON public."OrderItem" USING btree ("orderId");


--
-- TOC entry 3555 (class 1259 OID 24990)
-- Name: OrderItem_productId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "OrderItem_productId_idx" ON public."OrderItem" USING btree ("productId");


--
-- TOC entry 3548 (class 1259 OID 24987)
-- Name: OrderNotification_orderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

pg_dump: creating INDEX "public.ProductVariant_productId_idx"
pg_dump: creating INDEX "public.ProductVariant_sku_key"
pg_dump: creating INDEX "public.Product_businessType_idx"
pg_dump: creating INDEX "public.Product_categoryId_idx"
pg_dump: creating INDEX "public.SalesAnalytics_date_idx"
pg_dump: creating INDEX "public.SalesAnalytics_date_key"
pg_dump: creating INDEX "public.ShoppingCart_userId_key"
pg_dump: creating INDEX "public.TrackingHistory_trackingId_idx"
pg_dump: creating INDEX "public.User_email_idx"
CREATE INDEX "OrderNotification_orderId_idx" ON public."OrderNotification" USING btree ("orderId");


--
-- TOC entry 3551 (class 1259 OID 24988)
-- Name: OrderNotification_type_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "OrderNotification_type_idx" ON public."OrderNotification" USING btree (type);


--
-- TOC entry 3544 (class 1259 OID 24986)
-- Name: OrderStatusHistory_createdAt_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "OrderStatusHistory_createdAt_idx" ON public."OrderStatusHistory" USING btree ("createdAt");


--
-- TOC entry 3545 (class 1259 OID 24985)
-- Name: OrderStatusHistory_orderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "OrderStatusHistory_orderId_idx" ON public."OrderStatusHistory" USING btree ("orderId");


--
-- TOC entry 3571 (class 1259 OID 25001)
pg_dump: creating INDEX "public.User_email_key"
pg_dump: creating INDEX "public.User_role_idx"
pg_dump: creating FK CONSTRAINT "neon_auth.account account_userId_fk
ey"
pg_dump: creating FK CONSTRAINT "neon_auth.invitation invitation_inv
iterId_fkey"
pg_dump: creating FK CONSTRAINT "neon_auth.invitation invitation_org
anizationId_fkey"
pg_dump: creating FK CONSTRAINT "neon_auth.member member_organizatio
nId_fkey"
pg_dump: creating FK CONSTRAINT "neon_auth.member member_userId_fkey
"
pg_dump: creating FK CONSTRAINT "neon_auth.session session_userId_fk
ey"
-- Name: OrderTracking_orderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "OrderTracking_orderId_idx" ON public."OrderTracking" USING btree ("orderId");


--
-- TOC entry 3572 (class 1259 OID 25000)
-- Name: OrderTracking_orderId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "OrderTracking_orderId_key" ON public."OrderTracking" USING btree ("orderId");


--
-- TOC entry 3528 (class 1259 OID 24978)
-- Name: Order_orderDate_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Order_orderDate_idx" ON public."Order" USING btree ("orderDate");


--
-- TOC entry 3529 (class 1259 OID 24975)
-- Name: Order_orderNumber_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Order_orderNumber_key" ON public."Order" USING btree ("orderNumber");


--
-- TOC entry 3532 (class 1259 OID 24977)
-- Name: Order_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Order_status_idx" ON public."Order" USING btree (status);


--
-- TOC entry 3533 (class 1259 OID 24976)
-- Name: Order_userId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Order_userId_idx" ON public."Order" USING btree ("userId");


--
-- TOC entry 3556 (class 1259 OID 24994)
-- Name: Payment_orderId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Payment_orderId_idx" ON public."Payment" USING btree ("orderId");


--
-- TOC entry 3557 (class 1259 OID 24991)
-- Name: Payment_orderId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Payment_orderId_key" ON public."Payment" USING btree ("orderId");


--
-- TOC entry 3560 (class 1259 OID 24995)
-- Name: Payment_status_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Payment_status_idx" ON public."Payment" USING btree (status);


--
-- TOC entry 3561 (class 1259 OID 24996)
-- Name: Payment_transactionId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Payment_transactionId_idx" ON public."Payment" USING btree ("transactionId");


--
-- TOC entry 3562 (class 1259 OID 24992)
-- Name: Payment_transactionId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Payment_transactionId_key" ON public."Payment" USING btree ("transactionId");


--
-- TOC entry 3563 (class 1259 OID 24993)
-- Name: Payment_xenditId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Payment_xenditId_key" ON public."Payment" USING btree ("xenditId");


--
-- TOC entry 3509 (class 1259 OID 24967)
-- Name: ProductCategory_businessType_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ProductCategory_businessType_idx" ON public."ProductCategory" USING btree ("businessType");


--
-- TOC entry 3510 (class 1259 OID 24966)
-- Name: ProductCategory_categoryName_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "ProductCategory_categoryName_key" ON public."ProductCategory" USING btree ("categoryName");


--
-- TOC entry 3594 (class 1259 OID 25009)
-- Name: ProductPerformance_productId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "ProductPerformance_productId_idx" ON public."ProductPerformance" USING btree ("productId");


--
-- TOC entry 3519 (class 1259 OID 24971)
-- Name: ProductVariant_productId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

pg_dump: creating FK CONSTRAINT "public.CartItem CartItem_cartId_fke
y"
pg_dump: creating FK CONSTRAINT "public.CartItem CartItem_productId_
fkey"
pg_dump: creating FK CONSTRAINT "public.CartItem CartItem_variantId_
fkey"
pg_dump: creating FK CONSTRAINT "public.CustomerProfile CustomerProf
ile_userId_fkey"
pg_dump: creating FK CONSTRAINT "public.DesignFeedback DesignFeedbac
k_designRequestId_fkey"
pg_dump: creating FK CONSTRAINT "public.DesignRequest DesignRequest_
orderId_fkey"
pg_dump: creating FK CONSTRAINT "public.DesignStaffInfo DesignStaffI
nfo_userId_fkey"
pg_dump: creating FK CONSTRAINT "public.OrderItem OrderItem_designRe
questId_fkey"
pg_dump: creating FK CONSTRAINT "public.OrderItem OrderItem_orderId_
fkey"
pg_dump: creating FK CONSTRAINT "public.OrderItem OrderItem_productI
d_fkey"
pg_dump: creating FK CONSTRAINT "public.OrderItem OrderItem_variantI
d_fkey"
CREATE INDEX "ProductVariant_productId_idx" ON public."ProductVariant" USING btree ("productId");


--
-- TOC entry 3520 (class 1259 OID 24970)
-- Name: ProductVariant_sku_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "ProductVariant_sku_key" ON public."ProductVariant" USING btree (sku);


--
-- TOC entry 3513 (class 1259 OID 24969)
-- Name: Product_businessType_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Product_businessType_idx" ON public."Product" USING btree ("businessType");


--
-- TOC entry 3514 (class 1259 OID 24968)
-- Name: Product_categoryId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "Product_categoryId_idx" ON public."Product" USING btree ("categoryId");


--
-- TOC entry 3588 (class 1259 OID 25008)
-- Name: SalesAnalytics_date_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "SalesAnalytics_date_idx" ON public."SalesAnalytics" USING btree (date);


--
-- TOC entry 3589 (class 1259 OID 25007)
-- Name: SalesAnalytics_date_key; Type: INDEX; Schema: public; Owner: neondb_owner
--
pg_dump: creating FK CONSTRAINT "public.OrderNotification OrderNotif
ication_orderId_fkey"

CREATE UNIQUE INDEX "SalesAnalytics_date_key" ON public."SalesAnalytics" USING btree (date);


--
-- TOC entry 3523 (class 1259 OID 24972)
-- Name: ShoppingCart_userId_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "ShoppingCart_userId_key" ON public."ShoppingCart" USING btree ("userId");


--
-- TOC entry 3577 (class 1259 OID 25002)
-- Name: TrackingHistory_trackingId_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "TrackingHistory_trackingId_idx" ON public."TrackingHistory" USING btree ("trackingId");


--
-- TOC entry 3495 (class 1259 OID 24961)
-- Name: User_email_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_email_idx" ON public."User" USING btree (email);


--
-- TOC entry 3496 (class 1259 OID 24960)
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- TOC entry 3499 (class 1259 OID 24962)
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- TOC entry 3600 (class 2606 OID 16552)
-- Name: account account_userId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.account
    ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


--
-- TOC entry 3603 (class 2606 OID 16617)
-- Name: invitation invitation_inviterId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.invitation
    ADD CONSTRAINT "invitation_inviterId_fkey" FOREIGN KEY ("inviterId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


--
-- TOC entry 3604 (class 2606 OID 16612)
-- Name: invitation invitation_organizationId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.invitation
    ADD CONSTRAINT "invitation_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES neon_auth.organization(id) ON DELETE CASCADE;


--
-- TOC entry 3601 (class 2606 OID 16593)
-- Name: member member_organizationId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.member
    ADD CONSTRAINT "member_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES neon_auth.organization(id) ON DELETE CASCADE;


--
-- TOC entry 3602 (class 2606 OID 16598)
-- Name: member member_userId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.member
    ADD CONSTRAINT "member_userId_fkey" FOREIGN KEY ("userId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


pg_dump: creating FK CONSTRAINT "public.OrderStatusHistory OrderStat
usHistory_orderId_fkey"
pg_dump: creating FK CONSTRAINT "public.OrderTracking OrderTracking_
orderId_fkey"
pg_dump: creating FK CONSTRAINT "public.Payment Payment_orderId_fkey
"
pg_dump: creating FK CONSTRAINT "public.ProductVariant ProductVarian
t_productId_fkey"
pg_dump: creating FK CONSTRAINT "public.Product Product_categoryId_f
key"
pg_dump: creating FK CONSTRAINT "public.TrackingHistory TrackingHist
ory_trackingId_fkey"
pg_dump: creating DEFAULT ACL "public.DEFAULT PRIVILEGES FOR SEQUENC
ES"
pg_dump: creating DEFAULT ACL "public.DEFAULT PRIVILEGES FOR TABLES"
--
-- TOC entry 3599 (class 2606 OID 16538)
-- Name: session session_userId_fkey; Type: FK CONSTRAINT; Schema: neon_auth; Owner: neon_auth
--

ALTER TABLE ONLY neon_auth.session
    ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES neon_auth."user"(id) ON DELETE CASCADE;


--
-- TOC entry 3609 (class 2606 OID 25032)
-- Name: CartItem CartItem_cartId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES public."ShoppingCart"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3610 (class 2606 OID 25037)
-- Name: CartItem CartItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 3611 (class 2606 OID 25042)
-- Name: CartItem CartItem_variantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CartItem"
    ADD CONSTRAINT "CartItem_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES public."ProductVariant"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 3605 (class 2606 OID 25012)
-- Name: CustomerProfile CustomerProfile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."CustomerProfile"
    ADD CONSTRAINT "CustomerProfile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3620 (class 2606 OID 25087)
-- Name: DesignFeedback DesignFeedback_designRequestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DesignFeedback"
    ADD CONSTRAINT "DesignFeedback_designRequestId_fkey" FOREIGN KEY ("designRequestId") REFERENCES public."DesignRequest"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3619 (class 2606 OID 25082)
-- Name: DesignRequest DesignRequest_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DesignRequest"
    ADD CONSTRAINT "DesignRequest_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 3606 (class 2606 OID 25017)
-- Name: DesignStaffInfo DesignStaffInfo_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."DesignStaffInfo"
    ADD CONSTRAINT "DesignStaffInfo_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3614 (class 2606 OID 25072)
-- Name: OrderItem OrderItem_designRequestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_designRequestId_fkey" FOREIGN KEY ("designRequestId") REFERENCES public."DesignRequest"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 3615 (class 2606 OID 25057)
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3616 (class 2606 OID 25062)
-- Name: OrderItem OrderItem_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 3617 (class 2606 OID 25067)
-- Name: OrderItem OrderItem_variantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_variantId_fkey" FOREIGN KEY ("variantId") REFERENCES public."ProductVariant"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- TOC entry 3613 (class 2606 OID 25052)
-- Name: OrderNotification OrderNotification_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderNotification"
    ADD CONSTRAINT "OrderNotification_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3612 (class 2606 OID 25047)
-- Name: OrderStatusHistory OrderStatusHistory_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderStatusHistory"
    ADD CONSTRAINT "OrderStatusHistory_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3621 (class 2606 OID 25092)
-- Name: OrderTracking OrderTracking_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."OrderTracking"
    ADD CONSTRAINT "OrderTracking_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3618 (class 2606 OID 25077)
-- Name: Payment Payment_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3608 (class 2606 OID 25027)
-- Name: ProductVariant ProductVariant_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."ProductVariant"
    ADD CONSTRAINT "ProductVariant_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 3607 (class 2606 OID 25022)
-- Name: Product Product_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."ProductCategory"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- TOC entry 3622 (class 2606 OID 25097)
-- Name: TrackingHistory TrackingHistory_trackingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."TrackingHistory"
    ADD CONSTRAINT "TrackingHistory_trackingId_fkey" FOREIGN KEY ("trackingId") REFERENCES public."OrderTracking"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- TOC entry 2221 (class 826 OID 16394)
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- TOC entry 2220 (class 826 OID 16393)
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


-- Completed on 2026-05-26 17:53:38

--
-- PostgreSQL database dump complete
--

\unrestrict gheZ2wg1xZeAJDSbCMtdCWNvqM6x0MkAWheszOn6ehZdthJFU1SRUXSjncJow18

